/*SELECTOR DE CLASE*/
.parrafo1{
    background: #de9595;
    font-size: 20px;
    width: 70%;
    text-align: center;
}
.contenido{
    background: #cedcf2;
    width: 70%;
    text-align: center;

}
.question{
    background: #000;
    color: white;
    text-align: center;
    width: 40%;
}

/*SELECTOR ID*/
#links{
    background: #20b7ef;
    color: #fff;
    font-family: Arial;
    font-size: 28px;
     height: 140px;
    text-align: center;
    border: 5px;
    border-bottom: 8px;
    width: 100%;
}
#formulario{
    background: #aaa7a7;
    width: 40%;
}
#oracion{
    background: #a39cf4;
    font-size: 11px;
}

/*SELECTOR PSEUDO-SELECTORES*/
a:link{
    color: white;
}
a:visited {
    color: #278d52;
    background: #adabab;
}
a:hover{
    background: red;
    color: white;
    font-size: 34px;
}
a:active{
    background: #000;
    color: yellow;
    text-decoration: none;
}


input:hover{
    background: #edfdb7;
    height: 60px;
    width: 200px;
}
textarea:hover{
    background: #edfdb7;
    height: 110px;
    width: 250px;
}



input:focus{
    border: 3px solid #21642d;
    height: 50px;
    background: #8ff0d6;
}
textarea:focus{
    border: 3px solid #21642d;
    height: 120px;
    background: #8ff0d6;
}

/*OTROS SELECTORES NECESARIOS*/
header{
    background: #e3610f;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    border-bottom: 0px 0px 0px 0px;
}
a{
     text-decoration: none;
     display: block;
}

input[name="Usuario"]{
    background-image: url(/img/user.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: left;
    text-align: center;
    height: 30px;
}
input[name="clave"]{
    background-image: url(/img/clave.ico);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: left;
    text-align: center;
    height: 30px;
}
