/*SELECTOR ATRIBUTO CONTIENE*/
p[id*="o"]{
    color: #e405ed;
    background: #c8f2a8;
}


/*SELECTOR DE ATRIBUTO COMIENZA*/
a[href^="https://"]{
    font-size: 20px;
    font-family: Arial;
    color: #000;
    background: #eaa5ea;
    text-decoration: none;
}


/*SELECTOR DE ATRIBUTO SEPARADOS POR ESPACIO*/
footer[class~="footer"]{
    color: #01f226;
    background: #000;
    font-size: 20px;
}




/*OTROS SELECTORES*/

h1{
    text-align: center;
    color: aqua;
    font-size: 38px;
}

#contenido{
    background: #cedcf2;
    width: 70%;
}
.links{
    background: #20b7ef;
    height: 40px;
    text-align: center;
    width: 100%;
}
