/*SELECTOR ATRIBUTO CONTIENE*/
p[id*="o"]{
    color: #e405ed;
    background: #c8f2a8;
}


/*SELECTOR DE ATRIBUTO COMIENZA*/



/*SELECTOR DE ATRIBUTO SEPARADOS POR ESPACIO*/
footer[class~="footer"]{
    color: #01f226;
    background: #000;
    font-size: 20px;
}
