/*SELECTOR DE CLASE*/
.parrafo1{
    background: #de9595;
    font-size: 20px;
}


/*SELECTOR ID*/
#links{
    background: #20b7ef;
    color: #fff;
    text-decoration: none;
    font-family: Arial;
    font-size: 28px;
}
#formulario{
    background: #aaa7a7;
}

/*SELECTOR PSEUDO-SELECTORES*/




input:focus{
    border: 3px solid #21642d;
    height: 30px;
    background: #8ff0d6;
}
textarea:focus{
    border: 3px solid #21642d;
    height: 120px;
    background: #8ff0d6;
}

/*OTROS SELECTORES NECESARIOS*/
header{
    background: #e3610f;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
}
