/*SELECTOR HERMANO GENERAL*/
h3~*{
    background: #fab2d6;
    color: #1e15f2;
}


/*SELECTOR HERMANO ADYACENTE*/
h1+div{
    background: #7ce57c;
    color: yellow;
}

/*SELECTOR HIJO*/
div>footer>span{
    background: #a6e8f4;
    color: #f50c0c;
}
