/*SELECTOR DE CLASE*/
.parrafo1{
    background: #de9595;
    font-size: 20px;
}


/*SELECTOR ID*/
#links{
    background: #20b7ef;
    color: #fff;
    text-decoration: none;
    font-family: Arial;
    font-size: 28px;
}


/*SELECTOR PSEUDO-SELECTORES*/



/*OTROS SELECTORES NECESARIOS*/
